<div class="col-md-6">
    <div class="form-group">
        <label for="diminutil">Diminutil</label>
        <input type="text" ng-model="partner.dimminutil" class="form-control" id="diminutil" placeholder="Diminutil">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" ng-model="partner.address" class="form-control" id="address" placeholder="Address">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="postal_code">Code postal</label>
        <input type="text" ng-model="partner.postal_code" class="form-control" id="postal_code" placeholder="Code postal">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="commune">Commune</label>
        <input type="text" ng-model="partner.commune" class="form-control" id="commune" placeholder="Commune">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="phone">Teléphone</label>
        <input type="text" ng-model="partner.phone" class="form-control" id="phone" placeholder="Teléphone">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="fax">Fax</label>
        <input type="text" ng-model="partner.fax" class="form-control" id="fax" placeholder="Fax">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="tva">TVA</label>
        <input type="text" ng-model="partner.tva" class="form-control" id="tva" placeholder="TVA">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="rcs">RCS</label>
        <input type="text" ng-model="partner.rcs" class="form-control" id="rcs" placeholder="RCS">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="ape">APE</label>
        <input type="text" ng-model="partner.ape" class="form-control" id="ape" placeholder="APE">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="insurance_police">Police d'assurance</label>
        <input type="text" ng-model="partner.insurance_police" class="form-control" id="insurance_police" placeholder="Police d'assuranc">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="legal_form">Forme juridique</label>
        <input type="text" ng-model="partner.legal_form" class="form-control" id="legal_form" placeholder="Forme juridique">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="capital">Capital</label>
        <input type="text" ng-model="partner.capital" class="form-control" id="capital" placeholder="Capital">
    </div>
</div>